@font-face {
    font-family: "CuteNotes";
    src: url(./scramble/CuteNotes-y2em.ttf) format("truetype");
}
html, body 
{
    height: 100%;
    background-color: #615055;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}
#main-back 
{
    text-align: center;
    background-color: #CDD5D1;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    height:inherit;
    position: relative; 
    z-index: 1;
}
#night-toggle
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}
h1
{
    color: #615055;
}
a
{
    color: #615055;
}
h1.customfont { 
    font-family: "CuteNotes", Verdana, Tahoma;
    font-size: 3.25em;
    word-wrap: break-word;
}
#instructions
{
    background-color: #CDD5D1;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    z-index: 2;
    right: 10%;
    left: 10%;
    margin: 10%;
}
#used-words
{
    list-style-position: inside;
    text-align: left;
    padding-left: 45%;
}